.SearchPages {
  margin-bottom: 20px;
  width: 100%;
}
.tag {
  border: 1px solid #00d6b4;
  color: white;
  background-color: #00d6b4;
  padding: 5px;
  margin: 5px 10px;
  font-weight: 600;
}
.tag > i {
  margin: auto 0px auto 5px;
  cursor: pointer;
}
.tags {
  display: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}
select {
  background-color: white;
  padding: 8px;
  border: 1px solid #00d6b4;
}
