.SearchPages {
  margin-bottom: 20px;
  width: 100%;
}
.tag {
  border: 1px solid #00d6b4;
  color: white;
  background-color: #00d6b4;
  padding: 5px;
  margin: 5px 10px 5px 0;
  font-weight: 500;
  border-radius: 15px;
}
.tag > i {
  margin: auto 0px auto 5px;
  cursor: pointer;
}
.tags {
  display: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}
select {
  background-color: white;
  padding: 8px;
  border: 1px solid #00d6b4;
  font-family: Quicksand, sans-serif !important;
  font-size: 12px;
}
select > option {
  background-color: white;
  padding: 8px;
}
.newPage {
  margin: 0 20px;
}
.newPage > div {
  margin: 0 20px;
}
.newPage > input {
  min-width: 350px;
  padding: 8px;
  border: 1px solid #00d6b4;
}
.addPage {
  border: 2px solid #00d6b4;
  padding: 5px;
  border-radius: 4px;
}
.addPage:hover {
  background-color: #00d6b4;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
input:focus {
  outline: none !important;
  border: 1px solid #00d6b4;
}
