.FilterCategories {
  width: 12% !important;
  position: absolute;
  padding-top: 15px;
  right: 0;
}
.category {
  text-align: left;
  margin: 8px 0;
}
.category_descr {
  width: 100%;
  font-size: 15px;
}
.category_title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.category > img {
  max-height: 20px;
  max-width: 20px;
  margin-right: 10px;
}
