.filterBox > div:not(.title) {
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}
.filterBox {
  width: 100%;
  padding: 2%;
}
.filterBox > div > a {
  text-decoration: none !important;
  color: gray;
  cursor: pointer;
}
.highlighted {
  background-color: rgba(255, 124, 70, 1);
}
.highlighted > a {
  color: white !important;
}
.highlighted > div {
  color: white !important;
}
.filterBox > div.title {
  padding: 5px 10px;
}
.first_period {
  margin-left: 50px !important;
}
.moreFilters {
  margin-left: 50px !important;
  color: gray;
}
