.filterBar {
  width: 20%;
  position: absolute;
  padding-top: 15px;
}
.divider_bar {
  width: 140px;
  border-bottom: 1px solid #dcdcdc;
  margin: 15px 0 10px 0px;
  padding-top: 0 !important;
}
.filterBar > div:not(.title) {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}
.period > div > a,
.sort_content > div > a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
  font-weight: 300;
}

.highlighted > .square {
  background-color: #00d6b4;
}
.highlighted > a {
  color: black !important;
  /* font-weight: 500 !important; */
}
.highlighted > div {
  color: white !important;
}
.filterBar > div.title {
  padding: 5px 10px;
}

.moreFilters {
  margin-top: 50px !important;
  color: black;
}
.sort_title {
  margin: 25px 0;
  font-size: 15px;
  font-weight: 500;
  padding: 0 5px 0 15px;
}
.sort_title.fanbase {
  margin-top: 45px;
  padding: 0 5px 0 15px;
}
.sort_title > img {
  width: 20px;
  height: 20px;
}
.sort_content > div,
.period > div {
  margin: 10px 0;
}

.square {
  width: 8px;
  height: 8px;
  margin: 0 5px 0 17px;
}
.custom_slider {
  margin-left: 15px;
  width: 80% !important;
}
.custom_slider > .rc-slider-track {
  background-color: #00d6b4;
}
