.filterBar {
  width: 20%;
  position: absolute;
}

.filterBox > div:not(.title) {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}
.filterBox {
  padding: 2%;
}
.filterBox > div > a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
  font-weight: 300;
}
.square {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}
.highlighted > .square {
  background-color: #00d6b4;
}
.highlighted > a {
  color: black !important;
  font-weight: 500 !important;
}
.highlighted > div {
  color: white !important;
}
.filterBox > div.title {
  padding: 5px 10px;
}
.first_period {
  margin-left: 50px !important;
}
.moreFilters {
  margin-top: 50px !important;
  color: black;
}
.pagesContainer {
  margin: 15px;
}
.pagesContainer i {
  margin-left: 5px;
  cursor: pointer;
}
.pagesContainer > div {
  padding: 8px 10px;
  margin: 10px 10px;
  background-color: rgb(42, 148, 85);
  color: white;
  border: 1px solid rgb(42, 148, 85);
  border-radius: 15px;
  font-size: 15px;
}
