.Preview > div {
  /* width: 100%; */
  position: relative;
}
.Preview {
  border: 1px solid #dcdcdc;
}
.bar-chart {
  display: block;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00d6b4;
  position: absolute;
  right: 7px;
  top: 7px;
}
.publisher {
  color: gray;
  padding: 10px;
  font-size: 15px;
}
.publisher > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.imgBox > img:hover {
  filter: brightness(100%);
}
.imgBox {
  display: inline-block;
  overflow: hidden;
  border: 1px solid gray;
  width: 100%;
  position: relative;
}
.imgBox img {
  filter: brightness(70%);
  display: block;
  transition: 0.4s ease-in-out;
}
img {
  width: 100%;
}
div.description {
  padding: 10px;
}
.reactions {
  padding: 10px;
  color: gray;
  font-size: 13px;
}
.metric > i {
  margin: 5px 3px 5px 0px;
}
.reactions > i {
  width: 20px !important;
  height: 20px !important;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  margin: 10px 0;
}
.origin_link {
  width: 40%;
  margin: auto;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  background-color: #00d6b4;
  color: white;
  font-weight: 600;
  border-radius: 20px;
}
