.Preview > div {
  margin: auto;
  position: relative;
}
i.fa.fa-bar-chart {
  display: block;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 0;
}
.Preview i.fa.fa-paper-plane-o {
  display: block;
  color: white;
  padding: 5px;
  font-size: 23px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 33px;
}
.imgBox > img:hover {
  transform: scale(1.1);
}
.imgBox {
  display: inline-block;
  overflow: hidden;
  border: 1px solid gray;
}
.imgBox img {
  display: block;
  transition: 0.4s ease-in-out;
  padding: 10px 20px 40px 20px;
}
img {
  width: "160px";
  height: "160px";
}
.imgBox > div.description {
  max-width: 150px;
}
