.Preview > div {
  position: relative;
}
.Preview {
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(212, 212, 212, 1);
}
.bar-chart {
  display: block;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00d6b4;
  position: absolute;
  right: 7px;
  top: 7px;
}
.publisher {
  color: black;
  padding: 2.5% 4%;
  font-size: 12px;
  font-weight: 300;
  width: 92%;
}
.publisher > img {
  width: 30px;
  height: 30px;
  border: 1px solid #f1f0f2;
  border-radius: 50%;
}

.imgBox > img:hover {
  filter: brightness(100%);
}
.imgBox {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.imgBox img {
  filter: brightness(70%);
  display: block;
  transition: 0.4s ease-in-out;
}
img {
  width: 100%;
}
div.description {
  padding: 2.5% 4% 2.5% 4%;
  font-size: 15px;
  font-weight: 500;
}
.reactions {
  padding: 0% 4% 6% 4%;
  color: gray;
  font-size: 13px;
}
.metric > i {
  margin: 5px 3px 5px 0px;
}
.reactions > i {
  width: 20px !important;
  height: 20px !important;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  margin: 10px 0 10px 0px;
}
.see_more_button {
  padding: 2.8% 0% 1% 0%;
}
.tile_category {
  border: 1px solid #00d6b4;
  padding: 3px;
}
.origin_link {
  width: 40%;
  padding: 2.5%;
  text-align: center;
  text-decoration: none;
  background-color: #00d6b4;
  color: white;
  font-weight: 600;
  border-radius: 20px;
}
