.filterBox > div:not(.title) {
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}
.filterBox {
  width: 100%;
  padding: 2%;
}
.filterBox > div > a {
  text-decoration: none !important;
  color: gray;
  cursor: pointer;
}
.highlighted {
  background-color: rgba(230, 126, 34, 0.4);
}
.filterBox > div.title {
  padding: 5px 10px;
}
